<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<div class="form-row" th:fragment="options">
    <div class="form-group col-6">
        <label >Select Block</label>
        <div class="dropdown">
            <div class="btn dropdown-toggle btn-outline-success" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <span th:text="${currentBlockName}">Block Start Date</span>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a th:each="item : ${blocks}" class="dropdown-item" href="#"
                   th:href="@{/reports/{report}/{block_id}(report=${reportKey}, block_id=${item.key})}"
                   th:text="${item.value}">Block</a>
            </div>
        </div>
    </div>
</div>
</html>