<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<h3>Welcome <span th:text="${name}" style="color: darkred"></span>!!!</h3>

<table cellpadding="20" cellspacing="20">
    <thead>
    <th>Student Information</th>
    <th>Meditation Attendance</th>
    </thead>
    <tbody>
    <tr>
        <td>
            Student ID: <span th:text="${student.id}"></span><br/>
            Student Name: <span th:text="${student.name}"></span><br/>
            Entry: <span th:text="${student.entry.name}"></span><br/>
        </td>
        <td>
            <form>

                Block: <select name="blockId" onchange="this.form.submit();">
                <option value=""> --</option>
                <option th:each="block : ${blocks}"
                        th:value="${block.id}"
                        th:utext="${block.startDate} +'-'+ ${block.endDate}"/>
            </select><br/>
            </form>
            Overrall Attendance: <span th:text="${report.overrallAttendance?:0}"></span><br/>
            TM Retreats: <span th:text="${report.retreats?:0}"></span><br/>
            TM Checks: <span th:text="${report.checks?:0}"></span><br/>
            Standard TM: <span th:text="${report.standard_tm?:0}"></span><br/>
        </td>
    </tr>
    </tbody>
</table>
</html>