<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div class="shadow-toolbar">
    <a class="logout btn btn-outline" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i></a>
</div>

<div class="layout-container">
    <div class="layout-position">
        <div class="section main-content container">
            <div class="sub-section student-details row">
                <div class="col-auto profile-pic">
                    <img th:src="@{/images/avatar.png}" alt="">
                </div>
                <div class="col">
                    <div class="student-name" th:text="${student.name}"></div>
                    <div class="reg-id" th:text="${student.studentRegId}">000-00-0000</div>
                    <div class="entry" th:text="${student.entry.name}"></div>
                </div>
            </div>

            <div class="sub-section block-details">
                <div class="mini-label">Latest Block</div>
                <div class="plain-wrapper" th:if="${currentBlockReport}">
                    <div class="container block-period">
                        <div class="row">
                            <div class="col-auto" th:text="${currentBlockReport.blockStart}"></div>
                            <span>to</span>
                            <div class="col-auto" th:text="${currentBlockReport.blockEnd}"></div>
                        </div>
                    </div>
                    <div class="container block-summary">
                        <div class="row">
                            <div class="col-md-2 field">
                                <small class="field-name">Standard TM</small>
                                <div class="field-value" th:text="${currentBlockReport.standardTm}">8</div>
                            </div>
                            <div class="col-md-2 field">
                                <small class="field-name">Retreats</small>
                                <div class="field-value" th:text="${currentBlockReport.retreats}">3</div>
                            </div>
                            <div class="col-md-2 field">
                                <small class="field-name">TM Checks</small>
                                <div class="field-value" th:text="${currentBlockReport.checks}">2</div>
                            </div>
                            <div class="col-md-2 field overrall">
                                <small class="field-name">Overall</small>
                                <div class="field-value" th:text="${currentBlockReport.overrallAttendance}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section historic-reports">
            <div class="mini-label">Past Blocks</div>

            <div class="container">
                <div class="sub-section block-details row" th:each="item : ${historicBlockReports}">
                    <div class="container block-period">
                        <div class="row">
                            <div class="col-auto" th:text="${item.blockStart}"></div>
                            <span>to</span>
                            <div class="col-auto" th:text="${item.blockEnd}"></div>
                        </div>
                    </div>
                    <div class="container block-summary">
                        <div class="row">
                            <div class="col-md-2 field">
                                <small class="field-name">Standard TM</small>
                                <div class="field-value" th:text="${item.standardTm}">8</div>
                            </div>
                            <div class="col-md-2 field">
                                <small class="field-name">Retreats</small>
                                <div class="field-value" th:text="${item.retreats}">3</div>
                            </div>
                            <div class="col-md-2 field">
                                <small class="field-name">TM Checks</small>
                                <div class="field-value" th:text="${item.checks}">2</div>
                            </div>
                            <div class="col-md-2 field overrall">
                                <small class="field-name">Overall</small>
                                <div class="field-value" th:text="${item.overrallAttendance}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>