<!DOCTYPE html>
<html ang="en"
      xmlns:th="http://www.thymeleaf.org/"
>

<nav class="tm-toolbar tm-wide navbar navbar-expand-lg navbar-light bg-light" th:fragment="toolbar">
    <a class="navbar-brand" href="#" th:href="@{/}" th:text="${appTitle}">App Title</a>

    <div class="collapse navbar-collapse ml-3 pl-3" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li th:each="item : ${navbarItems}" class="nav-item active">
                <a class="nav-link" href="#" th:href="${item.link}" th:text="${item.label}">Item</span></a>
            </li>

        </ul>
        <a class="logout btn btn-outline-danger my-2 my-sm-0" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i></a>
    </div>
</nav>
</html>