@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700");
h2 {
  font-size: 1.25em;
  font-weight: 500; }

.mini-label {
  font-size: .75em;
  font-weight: 300;
  padding: 0 0 8px;
  color: #666;
  text-transform: uppercase; }

select {
  outline: none; }

.tm-toolbar {
  background: #f3e115 !important;
  background: #f2e715; }
  .tm-toolbar * {
    color: #084c5f !important; }

.tm-ribbon-bar {
  min-height: 150px;
  background: #fefbef;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #f5efd7;
  padding-bottom: 16px; }
  .tm-ribbon-bar .tm-ribbon-title-bar {
    padding: 6px 0; }
    .tm-ribbon-bar .tm-ribbon-title-bar > .dropdown {
      margin-left: 4px; }
      .tm-ribbon-bar .tm-ribbon-title-bar > .dropdown .tm-current-report {
        font-size: 1.25em;
        font-weight: 500;
        border: none;
        color: #444; }
  .tm-ribbon-bar input, .tm-ribbon-bar select {
    width: auto;
    min-width: 120px;
    outline: none; }
  .tm-ribbon-bar .action-bar {
    padding: 8px 0; }
    .tm-ribbon-bar .action-bar .btn {
      color: #28a745; }
      .tm-ribbon-bar .action-bar .btn * {
        color: #28a745; }
      .tm-ribbon-bar .action-bar .btn:hover * {
        color: #fff; }

.tm-report-table .tm-table-header {
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 4px; }
  .tm-report-table .tm-table-header .tm-table-cell {
    font-weight: 500;
    font-size: .9em;
    border-right: 1px solid #eeeeee; }
    .tm-report-table .tm-table-header .tm-table-cell:last-child {
      border-right: none; }
.tm-report-table .tm-table-body {
  background: #fafafa;
  overflow-y: auto;
  height: calc(100vh - 320px); }
.tm-report-table .tm-table-row:nth-child(2n) {
  background: #f4f6ee; }
.tm-report-table .tm-table-cell {
  padding: 8px 16px; }
  .tm-report-table .tm-table-cell.index {
    width: auto;
    min-width: 50px;
    flex: 0 0 auto; }

html {
  height: 100%; }

body {
  min-height: 100%;
  background-color: #111111;
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  overflow: hidden; }

.police-tape {
  background-color: #e2bb2d;
  background: linear-gradient(180deg, #eed887 0%, #e2bb2d 5%, #e2bb2d 90%, #e5c243 95%, #0e0b02 100%);
  padding: 0.125em;
  font-size: 3em;
  text-align: center;
  white-space: nowrap; }

.police-tape--1 {
  transform: rotate(10deg);
  position: absolute;
  top: 40%;
  left: -5%;
  right: -5%;
  z-index: 2;
  margin-top: 0; }

.police-tape--2 {
  transform: rotate(-8deg);
  position: absolute;
  top: 50%;
  left: -5%;
  right: -5%; }

.ghost {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  height: 100vh; }

.ghost--columns {
  display: flex;
  flex-grow: 1;
  flex-basis: 200px;
  align-content: stretch; }

.ghost--navbar {
  flex: 0 0 60px;
  background: linear-gradient(0deg, #27292d 0px, #27292d 10px, transparent 10px);
  border-bottom: 2px solid #111111; }

.ghost--column {
  flex: 1 0 30%;
  border-width: 0px;
  border-style: solid;
  border-color: #27292d;
  border-left-width: 10px;
  background-color: #191a1d; }
  .ghost--column:nth-child(1) .code:nth-child(1) {
    margin-left: 3em; }
  .ghost--column:nth-child(1) .code:nth-child(2) {
    margin-left: 2.5em; }
  .ghost--column:nth-child(1) .code:nth-child(3) {
    margin-left: 4.5em; }
  .ghost--column:nth-child(1) .code:nth-child(4) {
    margin-left: 4.5em; }
  .ghost--column:nth-child(2) .code:nth-child(1) {
    margin-left: 3.5em; }
  .ghost--column:nth-child(2) .code:nth-child(2) {
    margin-left: 4.5em; }
  .ghost--column:nth-child(2) .code:nth-child(3) {
    margin-left: 3.5em; }
  .ghost--column:nth-child(2) .code:nth-child(4) {
    margin-left: 2.5em; }
  .ghost--column:nth-child(3) .code:nth-child(1) {
    margin-left: 5em; }
  .ghost--column:nth-child(3) .code:nth-child(2) {
    margin-left: 5.5em; }
  .ghost--column:nth-child(3) .code:nth-child(3) {
    margin-left: 5em; }
  .ghost--column:nth-child(3) .code:nth-child(4) {
    margin-left: 3.5em; }

.ghost--main {
  background-color: #111111;
  border-top: 15px solid #303338;
  flex: 1 0 100px; }

.code {
  display: block;
  width: 100px;
  background-color: #27292d;
  height: 1em;
  margin: 1em; }

.ghost--main .code {
  height: 2em;
  width: 200px; }

body {
  display: block; }

/*# sourceMappingURL=styles-build.css.map */
