<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/students/attendancereport/ProcessExtraCreditforstudents">
        <h1>Select Block</h1>
        <select name="block" >
            <option th:each="block: ${facultyblocks.entrySet()}" th:value="${block.key}" th:text="${block.value}"></option>
        </select>
        <input type="submit" value="Get EC Data">
    </form>

</body>
</html>