<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>
            Student Id
        </td>
        <td>
            Student Name
        </td>
        <td>
            Day
        </td>
        <td>
            Location
        </td>
        <td>
            Type
        </td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="studata: ${studentattendance}">
        <td th:text="${studata.student.id}"/>
        <td th:text="${studata.student.name}"/>
        <td th:text="${studata.createdAt}"/>
        <td th:text="${studata.location.name}"/>
        <td th:text="${studata.meditationType.name}"/>
    </tr>
    </tbody>
</table>
<a th:href="@{|/students/attendancereport/ExtraCredit/${blockid}/reportdownload/xls|}">Download</a>
</body>
</html>