.tm-ribbon-bar {
  min-height: 150px;
  background: #fefbef;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #f5efd7;
  padding-bottom: 16px;

  .tm-ribbon-title-bar {
    padding: 6px 0;

    > .dropdown {
      margin-left: 4px;

      .tm-current-report {
        font-size: 1.25em;
        font-weight: 500;
        border: none;
        color: #444;
      }
    }
  }

  input, select {
    width: auto;
    min-width: 120px;
    outline: none;
  }

  .report-options {
  }

  .action-bar {
    padding: 8px 0;

    .btn {
      color: #28a745;

      * {
        color: #28a745;
      }

      &:hover {
        * {
          color: #fff;
        }
      }
    }
  }
}

.tm-report-table, .tm-table {
  .tm-table-header {
    border-bottom: 1px solid #ddd;
    box-shadow: -0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 4px;

    .tm-table-cell {
      font-weight: 500;
      font-size: .9em;
      border-right: 1px solid #eeeeee;

      &:first-child {

      }

      &:last-child {
        border-right: none;
      }
    }
  }

  .tm-table-body {
    background: #fafafa;
    overflow-y: auto;
    height: calc(100vh - 320px);
  }

  .tm-table-footer {

  }

  .tm-table-row:nth-child(2n) {
    background: #f4f6ee;
  }

  .tm-table-cell {
    padding: 8px 16px;

    &.index {
      width: auto;
      min-width: 60px;
      flex: 0 0 auto;
    }

    &:first-child {
    }

    &:last-child {
    }
  }

  .empty-row-view {
    font-weight: 300;
    margin: 12px auto;
  }
}

