.tm-ribbon-bar {
  min-height: 150px;
  background: #fefbef;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #f5efd7;
  padding-bottom: 16px;

  .tm-ribbon-title-bar {
    padding: 16px 0;

    > .dropdown {
      margin-left: 4px;

      .tm-current-report {
        font-size: 1.25em;
        font-weight: 500;
        border: none;
      }
    }
  }
}

.tm-report-table {
  .tm-table-header {
    border-bottom: 1px solid #ddd;
    box-shadow: -0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 4px;

    .tm-table-cell {
      font-weight: 500;
      font-size: .9em;
      border-right: 1px solid #eeeeee;

      &:first-child {

      }

      &:last-child {
        border-right: none;
      }
    }
  }

  .tm-table-body {
    background: #fafafa;
    overflow-y: auto;
    height: 200px;
  }

  .tm-table-footer {

  }

  .tm-table-cell {
    padding: 8px 16px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

